.mypy_cache
.pytest_cache
.python-version
__pycache__
.venv
.lambda_other
.lambda_scikit
.lambda
.vs
htmlcov

.vscode

.profile-data

.env
old.env
src/staticfiles
created_dummy_data_*.json
node_modules
/.vsenv

*.mmdb
.geoipupdate.lock
config.ini
Dockerfile-x
