.mypy_cache
.pytest_cache
.python-version
__pycache__
.venv
.lambda
.vs

.vscode

.terraform
.env
rds-combined-ca-bundle.pem
src/staticfiles
created_dummy_data_*.json
node_modules
/.vsenv

terraform/output
terraform/layer
terraform/layers
