# Flask
FLASK_APP=api.main:app
FLASK_ENV=development
DEBUG=1

# MongoDB
DB_HOST=mongodb
DB_PORT=27017
DB_PW=changeme
DB_USER=changeme

# GUNICORN
WORKERS=4

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Cognito
AWS_COGNITO_ENABLED=0
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_USER_POOL_CLIENT_ID=

# SES
SES_ASSUME_ROLE_ARN=
SMTP_FROM=

# DB
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_INITDB_ROOT_USERNAME=changeme
MONGO_INITDB_DATABASE=

# Tasks
EMAIL_MINUTES=1
TASK_MINUTES=1

# MAXMIND
MAXMIND_USER_ID=
MAXMIND_LICENSE_KEY=

# APP
DELAY_MINUTES=1
LANDING_SUBDOMAIN=
