# Flask
FLASK_APP=api.main:app
FLASK_DEBUG=1

# MongoDB
MONGO_URI=mongodb://root:really_secure_password123@mongodb:27017

# GUNICORN
WORKERS=4

# AWS
AWS_ACCESS_KEY_ID=changme
AWS_SECRET_ACCESS_KEY=changeme
AWS_DEFAULT_REGION=us-east-1

# Cognito
AWS_COGNITO_ENABLED=0
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_USER_POOL_CLIENT_ID=

# MongoDB
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_INITDB_ROOT_USERNAME=changeme
MONGO_INITDB_DATABASE=

# Redis DB
REDIS_HOST=redis
REDIS_PORT=6379

# Tasks API
TASKS_API_URL=http://host.docker.internal:8080
TASKS_API_KEY=test

# Tasks
EMAIL_MINUTES=1
TASK_MINUTES=1
FAILED_EMAIL_MINUTES=1440

# MAXMIND
MAXMIND_USER_ID=
MAXMIND_LICENSE_KEY=


# MAILGUN
MAILGUN_API_KEY=changeme

# ARCHIVAL
ARCHIVAL_EMAIL_ADDRESS=
