# Django
SECRET_KEY=changeme
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] pca-api

# MongoDB
DB_HOST=mongodb
DB_PORT=27017
DB_PW=changeme
DB_USER=changeme
MONGO_TYPE=MONGO # Other option is DOCUMENTDB

# DB
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=pca_data_dev

# GoPhish
GP_URL=http://gophish:3333/
PHISH_URL=http://gophish:8080/
WEBHOOK_URL=http://pca-api:8000/api/v1/inboundwebhook/
# Please visit http://localhost:3333/settings to retrieve your gp api key
GP_API_KEY=changeme
GP_SMTP_HOST=smtp.example.com:587
GP_SMTP_FROM=Support <support@example.com>
GP_SMTP_USER=postmaster@example.com
GP_SMTP_PASS=pass
DEFAULT_X_GOPHISH_CONTACT=vulnerability@cisa.dhs.gov

# EMAIL SETUP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_FROM=Support <support@example.com>
SMTP_USER=postmaster@example.com
SMTP_PASS=pass

# AWS SES
# uncomment these if testing assuming a role in another account for SES
# SES_ASSUME_ROLE_ARN=
USE_SES=0


#AWS SETUP
AWS_ACCESS_KEY_ID=mock_access_key
AWS_SECRET_ACCESS_KEY=mock_secret_key
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
AWS_S3_EXTERNAL_HOST=localhost

# AWS RESOURCES
AWS_S3_BUCKET=con-pca-local-bucket
AWS_S3_IMAGE_BUCKET=con-pca-local-image-bucket
DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage

#Cognito
COGNITO_DEPLOYMENT_MODE=Development
COGNITO_AWS_REGION=xx-xxxx-x
COGNITO_USER_POOL=xx-xxxx-x_xxxxxxxxx
COGNITO_AUDIENCE=client_id
LOCAL_API_KEY=randomly_generated_api_key_here

# GUNICORN
WORKERS=4

# REPORTING
BROWSERLESS_ENDPOINT=pca-browserless:3000
REPORTS_ENDPOINT=http://pca-web:4200
EXTRA_BCC_EMAILS=

CYCLE_MINUTES=129600
MONTHLY_MINUTES=43200
YEARLY_MINUTES=525600
