@charset "UTF-8";

@font-face {
  font-family: "franklin-gothic-book";
  src: url("fonts/Franklin Gothic Book Regular.ttf") format("trutetype");
  font-weight: 600;
  font-style: normal;
}

@page {
  margin: 0;
  size: Letter;
}

/* Tag Styling */

html {
  display: flex;
  flex-direction: row;
}

body {
  -webkit-print-color-adjust: exact !important;
  font-size: 11pt !important;
  background: white;
  font-family: Franklin Gothic, sans-serif !important;
}

ol {
  padding-left: 20px;
}

h3 {
  font-weight: bold;
}

hr {
  background-color: #fdc010 !important;
  color: #fdc010 !important;
  margin-bottom: 30px !important;
}

ul {
  padding-left: 20px;
}

p {
  margin: 0 0 10px;
}

/* Report Card */
#report-card-page {
  background: white;
  display: block;
  position: relative;
  page-break-after: always;

  /* Size = Letter */
  width: 8.5in;
  height: 11in;
}

#report-card-box {
  background-color: #005288;
  width: 8.5in;
  height: 1.875in;
}

#report-card-logo {
  position: absolute;
  width: 1.25in;
  top: 0.3125in;
  left: 0.5in;
}

#report-card-customer {
  position: absolute;
  right: 0.5in;
  top: 0.3125in;
  color: white;
  text-align: end;
  font-size: 14pt;
}

#report-card-bottom {
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-top: 0.25in;
}

#report-card-horizontal-divider {
  width: 100%;
  border-top: 4px solid #005288;
}

#report-card-vertical-divider {
  height: 2.5in;
  border-right: 4px solid #005288;
  margin-right: 0.2in;
}

#report-card-top-box {
  margin-top: 35px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  height: 1.25in;
  width: 0.3in;
}

#report-card-bottom-box {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  height: 1.25in;
  width: 0.3in;
}

.report-card-circle {
  width: 0.75in;
  height: 0.75in;
  border-radius: 50%;
}

.report-card-changes-text {
  font-size: 12pt;
  margin-top: 0.175in;
  height: 12pt;
}

.report-card-stat-label {
  color: #0078ae;
  text-align: center;
  font-size: 14pt;
  margin-top: 15px;
}

.report-card-doughnut-percent {
  color: #0078ae;
  text-align: center;
  font-size: 20pt;
  position: absolute;
  top: 74px;
  left: 36px;
  width: 95px;
}

.report-card-templates-outer-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #0078ae;
  position: relative;
  margin-top: 25px;
  margin-bottom: 15px;
}

.report-card-templates-inner-circle {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: white;

  /* Center vertically and horizontally */
  margin: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.report-card-templates {
  color: #0078ae;
  font-size: 34pt;

  /* Center vertically and horizontally */
  margin: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
